@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Myriad Pro"), url("../resources/fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

body {
    background-color: #454046;
    color: white;
    font-family: "Myriad Pro", sans-serif;
    font-size: 16   px;
}

#header-container {
    display: flex;
    flex-direction: row;
}

#header-container > h1 {
    font-size: 60px;
    margin-top: 0;
}

#header-container > h2, #header-container > div > h3 {
    padding-top: 8.5px;
    padding-left: 5px;
}

a:link, a:visited {
    color: #cda8eb;
    background-color: #5f3e85;
    border: 1px solid black;
    padding: 5px;
}

.calculator-container > * {
    background-color: #5f3e85;
    border: 2px solid black;
    padding: 5px;
    height: auto;
    flex: 1;
}

.calculator-container > * > * {
    padding: 0;
    height: auto;
}

input {
    background-color: #333333;
    border: 1px solid black;
    border-radius: 0px;
    color: white;
    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-spaced-1 {
    gap: 10px;
}

.flex-spaced-2 {
    gap: 5px;
}

.spaced {
    padding: 10px;
}

.top-spaced {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.border-1 {
    border: 2px solid black;
}

.border-2 {
    border: 1px solid black;
}

.color-layer-1 {
    background-color: #611379;
}

.color-layer-2 {
    background-color: #6b387a;
}

.centered-content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    /* flex: 1; */
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.align-left {
    align-items: left;
}

.align-center {
    align-items: center;
}

.align-right {
    align-items: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.solutions > span, .solutions > div {
    color: #dddddd;
    background-color: #6d1bb5;
    border: 1px solid black;
    padding: 5px;
}

input {
    width: 25px;
}

.input-height-label {
    height: 22px;
}

.output-height-label {
    height: 32px;
}

.output-height-input {
    margin-top: 6px;
    margin-bottom: 4px;
}

.approx-box {
    margin-left: auto;
    margin-right: 0;
}

.approx-box > label {
    align-items: center;
}

.approx-box input[type=text] {
    width: 25px;
    height: 18px;
}

.overline {
    text-decoration: overline;
}

@media only screen and (max-width: 1300px) {
    body {
        font-size: 32px;
    }
    #header-container > h1 {
        font-size: 120px;
    }

    #header-container > h2, #header-container > div > h3 {
        padding-top: 17px;
        padding-left: 10px;
    }

    a:link, a:visited {
        border: 2px solid black;
        padding: 10px;
    }

    .calculator-container > * {
        background-color: #5f3e85;
        border: 4px solid black;
        padding: 10px;
    }

    input {
        border: 2px solid black;
        font-size: 28px;
    }

    .top-spaced {
        padding-top: 20px;
    }

    .border-1 {
        border: 4px solid black;
    }

    .border-2 {
        border: 2px solid black;
    }

    .solutions > span, .solutions > div {
        border: 2px solid black;
        padding: 10px;
    }

    input {
        width: 50px;
    }

    .input-height-label {
        width: 44px;
    }

    .output-height-label {
        height: 59px;
    }

    .output-height-input {
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .approx-box input[type=text] {
        width: 50px;
        height: 30px;
    }
    
    .calculator-container {
        flex-direction: column;
    }
}

/* Get rid of number input's up and down buttons in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Do the same thing in everything else (isn't Firefox's simpler, better, and more intuitive?) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}